@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 223 10% 14%;
    --card: 0 0% 100%;
    --card-foreground: 223 10% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 10% 14%;
    --primary: 233 49% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 30% 96%;
    --secondary-foreground: 223 10% 14%;
    --muted: 222 33% 92%;
    --muted-foreground: 218 9% 48%;
    --accent: 233 100% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 346 84% 61%;
    --destructive-foreground: 0 0% 100%;
    --highlight: 233 49% 93%;
    --highlight-foreground: 233 61% 38%;
    --border: 220 9% 87%;
    --input: 220 9% 87%;
    --ring: 233 100% 65%;
    --radius: 0.375rem;
  }

  .dark {
    --background: 215 19% 17%;
    --foreground: 0 0% 99%;
    --card: 218 18% 12%;
    --card-foreground: 0 0% 99%;
    --popover: 218 18% 12%;
    --popover-foreground: 0 0% 99%;
    --primary: 233 100% 65%;
    --primary-foreground: 0 0% 99%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 0 0% 99%;
    --muted: 220 18% 23%;
    --muted-foreground: 216 19% 71%;
    --accent: 228 100% 76%;
    --accent-foreground: 226 45% 11%;
    --destructive: 346 84% 70%;
    --destructive-foreground: 337 51% 8%;
    --highlight: 231 54% 37%;
    --highlight-foreground: 0 0% 99%;
    --border: 218 19% 44%;
    --input: 218 19% 44%;
    --ring: 228 100% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body,
  #root {
    @apply h-full m-0 p-0;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

/* CodeMirror customizations */
.cm-editor {
  @apply bg-transparent;
  font-family: 'IBM Plex Mono', monospace !important;
}

.cm-content {
  font-family: 'IBM Plex Mono', monospace !important;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-gutterElement {
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 10px !important;
}

/* ReactFlow customizations */
.react-flow__node {
  @apply !cursor-grab active:!cursor-grabbing;
}

.react-flow__handle {
  @apply !w-2.5 !h-2.5 !bg-blue-500;
}

.react-flow__minimap {
  @apply !bg-background-secondary-light dark:!bg-background-secondary-dark !border !border-border-light dark:!border-border-dark rounded;
}

.react-flow__controls {
  @apply !border !border-border-light dark:!border-border-dark !rounded !shadow-md;
}

.react-flow__controls button {
  @apply !bg-white dark:!bg-slate-800 !border-border-light dark:!border-border-dark hover:!bg-slate-100 dark:hover:!bg-slate-700;
}

.react-flow__controls button svg {
  @apply fill-slate-700 dark:fill-slate-300;
}

.react-flow__background {
  @apply !bg-background-primary-light dark:!bg-background-primary-dark;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
