# SQL Type System

[categories]
text = ["NAME", "CHAR", "NVARCHAR", "NCHAR", "VARCHAR", "TEXT"]
integer = ["UTINYINT", "INT256", "INT128", "INT", "USMALLINT", "MEDIUMINT", "BIT", "UMEDIUMINT", "UINT256", "BIGINT", "UINT128", "UBIGINT", "SMALLINT", "TINYINT", "UINT"]
float = ["FLOAT", "DOUBLE"]
numeric = ["UDECIMAL", "UDOUBLE", "INT256", "INT", "DECIMAL256", "FLOAT", "BIT", "DECIMAL32", "DECIMAL", "UBIGINT", "TINYINT", "UTINYINT", "DOUBLE", "MONEY", "INT128", "USMALLINT", "MEDIUMINT", "UMEDIUMINT", "UINT256", "DECIMAL64", "BIGINT", "DECIMAL128", "UINT128", "SMALLMONEY", "SMALLINT", "UINT", "BIGDECIMAL"]
temporal = ["SMALLDATETIME", "TIMESTAMP_MS", "TIME", "DATETIME64", "TIMESTAMP_S", "TIMESTAMP", "TIMESTAMPTZ", "TIMESTAMPLTZ", "TIMESTAMP_NS", "TIMETZ", "TIMESTAMPNTZ", "DATETIME2", "DATE", "DATE32", "DATETIME"]

[coercion]
# Type precedence (highest to lowest)
text_precedence = ["TEXT", "NVARCHAR", "VARCHAR", "NCHAR", "CHAR"]
numeric_precedence = ["DOUBLE", "FLOAT", "DECIMAL", "BIGINT", "INT", "SMALLINT", "TINYINT"]
temporal_precedence = ["TIMESTAMPLTZ", "TIMESTAMPTZ", "TIMESTAMP", "DATETIME", "DATE"]

[coerces_to]
# What types each type can be coerced INTO
NVARCHAR = ["TEXT"]
VARCHAR = ["TEXT", "NVARCHAR"]
NCHAR = ["VARCHAR", "TEXT", "NVARCHAR"]
CHAR = ["VARCHAR", "NCHAR", "TEXT", "NVARCHAR"]
FLOAT = ["DOUBLE"]
DECIMAL = ["FLOAT", "DOUBLE", "BIGDECIMAL"]
BIGINT = ["DECIMAL", "FLOAT", "DOUBLE", "BIGDECIMAL"]
INT = ["DECIMAL", "BIGINT", "FLOAT", "DOUBLE"]
SMALLINT = ["BIGINT", "DECIMAL", "DOUBLE", "INT", "FLOAT"]
TINYINT = ["BIGINT", "DECIMAL", "DOUBLE", "SMALLINT", "INT", "FLOAT"]
TIMESTAMPTZ = ["TIMESTAMPLTZ"]
TIMESTAMP = ["TIMESTAMPTZ", "TIMESTAMPLTZ"]
DATETIME = ["TIMESTAMP", "TIMESTAMPTZ", "TIMESTAMPLTZ"]
DATE = ["TIMESTAMP", "TIMESTAMPTZ", "TIMESTAMPLTZ", "DATETIME"]
